<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="course_menu" model="ir.ui.menu">
        <field name="name">Courses</field>
        <field name="sequence" eval="2" />
        <field name="action" ref="action_course_create" />
        <field name="parent_id" ref="contacts.menu_contacts" />
    </record>
</odoo>